*{
 box-sizing: border-box;
}

body {
 margin:0;
 /* padding:20px; */
 background-color: #333333;
 display:flex;
 justify-content: center;
 align-items: center;
 height:100vh;
}

th{
 color: #949495;
}

table {
 width:300px;
 border:5px solid black;
 border-radius: 0%;
 padding:5px;
 background-color: rgba(0, 0, 0, 0.5);
}

input{
 border:0;
 text-align: right;
 margin:10px 0;
 padding:10px;
 width:100%;
 font-size:32px;
 background: #fff;
}

button {
 width:70px;
 background: transparent;
 border-radius:50%;
 outline: none;
 border:0;
 padding:17px;
 font-weight: bolder;
 font-size:20px;
 color: #949495;
}

button:hover {
 
 background-color:rgb(212, 209, 209);
 transition: background-color 2s;
}

.symbols {
 color: #949495;
}

.equal {
 width: 140px;
 background-color: #949495;
 color:#fff;
 border-radius: 0;
}